        /*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
        
        body {
            min-height: 100vh;
        }
        
         ::-webkit-scrollbar {
            width: 5px;
        }
        
         ::-webkit-scrollbar-track {
            width: 5px;
            background: slategrey;
        }
        
         ::-webkit-scrollbar-thumb {
            width: 1em;
            background-color: #ddd;
            outline: 1px solid slategrey;
            border-radius: 1rem;
        }
        
        .text-small {
            font-size: 0.9rem;
        }
        
        .messages-box {
            height: 444px;
            overflow-y: scroll;
        }
        
        .chat-box {
            height: 567px;
            overflow-y: scroll;
            /* padding: 30px; */
        }
        
        .rounded-lg {
            border-radius: 0.5rem;
        }
        
        input::placeholder {
            font-size: 0.9rem;
            color: #999;
        }
        
        .rightsideheader {
            background-color: #999;
            padding: 4px;
        }
        
        .settingmenu {
            text-align: right;
        }
        
        .explore {
            border-radius: 37px;
        }
        
        .bg-light {
            background-color: #d7dde3!important;
            padding-bottom: 10px;
        }
        
        .col-md-3,
        .col-md-9 {
            position: relative;
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;
        }
        
        .media {
            margin-top: 34px;
        }
        
        .actives {
            background-color: #d7dde3 !important;
        }
        
        form.bg-light {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        
        .input-group-append {
            width: 11%;
        }
        
        .input-group {
            width: 80%;
        }